.main-container {
    display: flex;
    flex-direction: horizontal;
}

.image-box {
    height: 350px;
    width: 600px;
    border: 5px solid #ccc;
    margin-left: 100px;
}

.image-box > img {
    height: 100%;
    width: 100%;
    padding: 30px;
    object-fit: contain;
}

.comment-container {
    margin-top: 20px;
    margin-left: 130px;
}

.comment-box {
    min-height: 100px;
    max-height: 250px;        /* Set a fixed height */
    width: 400px;
    overflow-y: auto;     /* Adds vertical scrollbar if content overflows */
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
}

.comment-container > form {
    margin-top: 10px;
}

.right {
    margin-top: 50px;
    margin-left: 175px;
}

.title {
    font-size: 20px;
}

.watchlist {
    margin-top: 15px;
}

.price {
    margin-top: 20px
}

.details {
    margin-top: 40px;
}
