textarea {
    min-height: 400px;
}

#user-email {
    margin-top: 20px;
}

#emails-view {
    display: flex;
    flex-direction: column;
}

.email-box {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    margin-bottom: 5px;
}

#email-timestamp {
    color: gray;
    font-size: 15px;
}


#email-content {
    margin-top: 30px;
}



