{% extends "auctions/layout.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'auctions/listing.css' %}">
{% endblock %}

{% block body %}

<div class="main-container">
    <div class="left">
        <div class="image-box">
            {% if listing.image_url %}
                <img src="{{ listing.image_url }}" alt="listing photo">
            {% endif %}
        </div>

        <div class="comment-container">
            <h2>Comments</h2>
            <div class="comment-box">
                {% for comment in comments %}
                    <div class="comment">
                        <strong>{{ comment.user.username }}:</strong>
                        {{ comment.content }}
                    </div>
                {% endfor %}
            </div>
            <form action="{% url 'listing' listing.slug %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="new_comment">
                    <input type="text" name="comment" placeholder="Enter Comment">
                    <input type="submit" value="Send">
            </form>
        </div>
    </div>

    <div class="right">
        <div class="title">{{ listing.title}}</div>

        <div class="watchlist">
            <form action="{% url 'watchlist' username=user.username %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                {% if not in_watchlist %}
                    <input type="hidden" name="action" value="add">
                    <input type="submit" value="Add to WatchList">
                {% else %}
                    <input type="hidden" name="action" value="remove">
                    <input type="submit" value="Remove From Watchlist">
                {% endif %}
            </form>
        </div>

        <div class="close-listing">
            {% if listing.active %}
                {% if user.username == listing.seller.username %}
                    <form action="{% url 'listing' listing.slug %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="listing_status">
                        <input type="submit" value="Close Listing">
                    </form>
                {% endif %}
            {% else %}
                <h3>Listing is Closed
                {% if user.username == listing.seller.username %}
                    : You won the listing!
                {% endif %}
                </h3>
            {% endif %}
        </div>

        {% if highest_bid %}
            <h3 class="price">${{ highest_bid.bid_price }}</h3>
        {% else %}
            <h3 class="price">${{ listing.starting_bid }}</h3>
        {% endif %}

        <div>
            {{ num_bids }} bid(s) so far.
            {% if user == highest_bid.bidder %}
                Your bid is the current bid.
            {% endif %}
        </div>

        {% if error %}
            <h6 class="error" style="color: red">{{ error }}!</h6>
        {% endif %}

        <form action="{% url 'listing' listing.slug %}" method="post">
            {% csrf_token %}
            <input type="text" name="new_bid" placeholder="Bid">
            <input type="hidden" name="type" value="bid">
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <input type="submit" value="Place Bid">
        </form>

        <h2 class="details">Details</h2>
        <ul>
            <li>Listed by: {{ listing.seller }}</li>
            {% if listing.category is None %}
                <li>Category: No Category Listed</li>
            {% else %}
                <li>Category: {{ listing.category }}</li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}
