{% extends "auctions/layout.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'auctions/new_listing.css' %}">
{% endblock %}

{% block body %}

    <h2>New Listing</h2>

    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <div>
             <input type="text" placeholder="Title" name="title" required>
            <label>*</label>
        </div>
        <div>
            <input type="description" placeholder="Description" name="description" required>
            <label>*</label>
        </div>
        <div>
            <input type="number" step="0.01" placeholder="Starting Bid" min="0" name="starting_bid" required>
            <label>*</label>
        </div>
        <div>
            <input type="url" placeholder="Image Url" name="image_url">
        </div>
        <div>
            <select name="category" placeholder="Category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
            </select>
        </div>
        <div>
            <input type="submit" value="Create Listing">
        </div>

{% endblock %}
