{% extends "auctions/listing.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'auctions/index.css' %}">
{% endblock %}

{% block body %}
<h2>Watchlist</h2>

{% for listing in watchlist_listings %}
    <a href="{% url 'listing' slug=listing.slug %}" class="big-button">
        <img src="{{ listing.image_url }}" alt="Active item picture">
        <div>
            <h3 class="title">{{ listing.title }}</h3>
            <div class="price">Price: ${{ listing.starting_bid }}</div>
            <div class="description">{{ listing.description }}</div>
            <div class="date">Created {{ listing.datetime }}</div>
        </div>
    </a>
{% endfor %}


{% endblock %}
