body {
    font-family: "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}

.other_searches {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 60px;
}
.other_searches > a {
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    font-family: arial, sans-serif;
    text-decoration-line: none;
    text-decoration: none;
    line-height: 24px
}

#title {
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(217, 48, 37);
    border-bottom: 1px solid lightgray;
    margin-left: -35px;
    margin-bottom: 25px;
    padding-left: 35px;
}

#starter {
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    margin-top: 40px;
    margin-bottom: 15px;
}

.filter_element {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
}

.filter_element > label {
    font-size: 13px;
    font-weight: 400;
    color: rgb(34, 34, 34);
    width: 170px;
}

.filter_element > input {
    width: 335px;
    height: 23px;
    border-radius: 2px;
    border: solid 1px rgb(217, 217, 217);
    font-weight: 400;
    font-size: 16px;
}

input[type="submit"] {
    width: 123px;
    height: 30px;
    border: solid 1px;
    border-radius: 3px;
    background-color: rgb(53, 122, 232);
    color: rgb(255, 255, 255);
    font-size: 11px;
    font-weight: 700;
}

input[type="submit"]:hover {
    background-color: rgb(47, 112, 212);
    cursor: pointer;
}
